.program-stage-section-container {
  width: 100%;
  border: 2px solid rgba(224, 224, 224, 1);
  border-radius: 8px;
}

.program-stage-section-wrapper {
  padding: 10px;
}

.program-stage-section-title {
  color: #0277bd;
  font-size: 18px;
  font-weight: bold;
}

.program-stage-section-wrapper .input-field-container {
  padding-left: 0;
}

.event-capture-form-container {
  width: 100%;
  height: 100%;
}

/* .event-capture-form-container > div:nth-child(1) {
  height: 165px;
  overflow: auto;
  border-bottom: 2px solid rgba(224, 224, 224, 1);
} */
.event-capture-form-container > div:nth-child(1) {
  height: calc(100% - 50px);
  overflow: auto;
}
.event-capture-form-container > div:nth-child(2) {
  border-top: 2px solid rgb(242, 242, 242);
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.event-capture-form-container > div:nth-child(2) > button {
  margin-right: 5px;
}
.delete-event-confirmation {
  padding: 20px;
}
.geometry-picker-inputs {
  display: flex;
  align-items: flex-end;
}
.geometry-picker-inputs > div {
  /* width: 200px; */
  margin-right: 10px;
}
.geometry-picker-map-container {
  width: 100%;
  height: 600px;
}
