.tracker-capture-layout3-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 5px;
}

.tracker-capture-form-wrapper {
  width: calc(100% - 600px);
  margin-right: 5px;
  height: 100%;
}
.tracker-capture-form-wrapper-full {
  width: 100%;
  height: 100%;
}
.tracker-capture-profile-wrapper {
  width: 600px;
  height: 100%;
}
