.adr-details-form .adr-table-cell {
  border-right: 1px solid #ccc;
  padding: 5px;
}

.adr-details-form .adr-table-title {
  font-size: 1rem;
  font-weight: bold;
  background-color: #f5f5f5;
  padding: 5px;
}

.adr-details-form .adr-col-title {
  font-weight: bold;
  font-size: 0.9rem;
  text-align: center;
  padding: 5px;
}
