#ncle-disease-form-container table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

#ncle-disease-form-container table tr:hover {
  background: #fbf8e9;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
