.child-nutri-container {
  display: flex;
  justify-content: space-between;
}

/* .child-nutri-container .MuiBox-root {
    padding: 5px;
} */

.child-nutri-container .MuiTypography-body2 {
  font-size: 0.8rem;
}
