#tb-case-finding-v2-form-container table td,
#tb-case-finding-v2-form-container table th {
  border: 1.5px solid #ccc;
  font-weight: bold;
}

#tb-case-finding-v2-form-container table tr:hover {
  background-color: #fff;
}

#tb-case-finding-v2-form-container .power1 {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}
