.chr-tracker-layout {
  width: 100%;
  height: 100%;
}
.chr-tracker-event-form-container .input-field-container,
.chr-tracker-profile-container .input-field-container {
  width: 100%;
}
.chr-tracker-layout1-container {
  padding: 5px;
  width: 100%;
  height: 100%;
}
.chr-tracker-layout2-container {
  width: 100%;
  height: 100%;
}
.chr-tracker-layout2-container > div {
  width: 100%;
  height: 100%;
  padding: 5px !important;
}

.chr-tracker-layout3-container {
  width: 100%;
  height: 100%;
  display: flex;
}
.chr-tracker-profile-container {
  height: 100%;
  width: 650px;
  padding: 5px 5px 5px 0px;
  position: relative;
}

.chr-tracker-event-container {
  height: 100%;
  width: calc(100% - 650px);
  padding: 5px;
}

.chr-deliveries-container {
  height: 100%;
  width: calc(100% - 650px);
  padding: 5px;
}
.chr-deliveries-container > div:nth-child(1) {
  width: 100%;
  height: 100%;
  border: 2px solid #2c6693;
  border-radius: 3px;
}
.chr-deliveries-title {
  height: 48px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  background-color: #2c6693;
}
.chr-tracker-delivery-tabs-container {
  height: 48px;
  border-bottom: 2px solid #d5dde5;
}
.chr-tracker-delivery-content {
  height: calc(100% - 48px);
  width: 100%;
  overflow: auto;
}

.chr-tracker-profile-container > div:nth-child(1) {
  width: 100%;
  height: 100%;
  border: 2px solid #00695c;
  border-radius: 3px;
}
.chr-tracker-event-container > div:nth-child(1) {
  width: 100%;
  height: 100%;
  border: 2px solid #093371;
  border-radius: 3px;
}
.chr-tracker-event-title,
.chr-tracker-profile-title {
  height: 48px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
}
.chr-tracker-event-title {
  border-bottom: 1px solid #d5dde5;
}
.chr-tracker-profile-title {
  background-color: #00695c;
}
.chr-tracker-profile-section-content {
  width: 100%;
  height: calc(100% - 98px);
  overflow: auto;
}
.chr-tracker-section-content {
  width: 100%;
  height: calc(100% - 48px);
  overflow: auto;
}
.chr-tracker-section-buttons {
  height: 50px;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
}
.chr-tracker-profile-buttons {
  border-top: 1px solid #00695c;
}
.chr-tracker-event-buttons {
  border-top: 1px solid #093371;
}
.chr-tracker-field-row {
  display: flex;
  border-bottom: 1px solid #d5dde5;
}
.chr-tracker-field-row > div:nth-child(1) {
  padding: 6px;
  border-right: 1px solid #d5dde5;
  display: flex;
  align-items: center;
}
.chr-tracker-field-row > div:nth-child(2) {
  padding: 6px;
  display: flex;
  align-items: center;
  border-right: 1px solid #d5dde5;
}
.chr-tracker-event-form-container {
  width: 100%;
  height: 700px;
}
.chr-tracker-event-form {
  width: 100%;
  height: calc(100% - 50px);
  padding: 5px;
  overflow: auto;
}
.chr-tracker-event-form-helper {
  height: 100px;
  padding: 5px;
  overflow: auto;
}
.chr-tracker-event-form-buttons {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 5px;
  border-top: 2px solid #d5dde5;
}
.add-new-delivery-warning,
.add-new-event-warning {
  margin-top: 5px;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  color: #ed6c02;
}
.chr-tracker-client-health-id-row {
  height: 111px;
}
.chr-tracker-client-health-id-row > div {
  height: 100%;
}
.ncle-symptoms-section {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #d5dde5;
  gap: 2px;
}
.ncle-symptoms-section-item {
  background-color: #ffffff;
  padding: 5px;
}
.ncle-tracker-malaria-notification-container {
  padding: 10px;
}
.ncle-tracker-malaria-sub-section-title {
  background-color: #eeeeee;
  padding: 10px 0px 10px 5px;
  font-weight: bold;
}
.ncle-tracker-malaria-sub-section-container {
  border: 1px solid #d5dde5;
  margin-top: 10px;
}
.ncle-tracker-malaria-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
}
.ncle-tracker-malaria-grid-3 {
  display: grid;
  grid-template-columns: auto auto auto;
}
